apiVersion: v1
kind: Pod
metadata:
  name: phpinfo-po-wget-probe
spec:
  containers:
    -
      args:
        - -f
        - index.php
        - -S
        - 0.0.0.0:8080
      command:
        - /usr/bin/php
      env:
        -
          name: author
          value: Rojas
      image: fernandorojascuesta/phpinfo:latest
      livenessProbe:
        tcpSocket:
          port: 8080
      name: phpinfo-container
      ports:
        -
          containerPort: 8080
          protocol: TCP
      readinessProbe:
        httpGet:
          path: /_ping
          port: 8080
      resources:
        limits:
          cpu: 100m
          memory: 100M
        requests:
          cpu: 100m
          memory: 100M
      volumeMounts:
        -
          mountPath: /app/
          name: public
          readOnly: true
      workingDir: /app/
  initContainers:
    -
      args:
        - wget https://raw.githubusercontent.com/frojascu/phpinfo/2021-09-santander/src/index.php ;
      command:
        - /bin/sh
        - -c
      env:
        -
          name: author
          value: Rojas
      image: library/busybox:1.33.1-uclibc@sha256:febcf61cd6e1ac9628f6ac14fa40836d16f3c6ddef3b303ff0321606e55ddd0b
      name: phpinfo-wget
      resources:
        limits:
          cpu: 100m
          memory: 100M
        requests:
          cpu: 100m
          memory: 100M
      volumeMounts:
        -
          mountPath: /public/
          name: public
          readOnly: false
      workingDir: /public/
  volumes:
    -
      emptyDir:
        medium: ""
        sizeLimit: 1M
      name: public
status: {}
